/*@author: Thomas Thompson
@github: tomtom28
@comment: HW 7 (Easier)*/

.jumbotron{
  background-color: white;
  color: black;

  padding-top: 1%;
  padding-bottom: 1%;
}

#addTrainButton{
  background-color: red;
  color: white;
}

#logo{
  background-color: black;
  color: white;

  border-radius: 40px;

  padding: 2%;
  margin-top: 5%;
  margin-bottom: 5%;

  height: 100%;
}

img{
  width: auto;
  height: auto;

  max-width: 75%;

  padding-top: 10%;
}

#static-table-header{
  background-color: #fbfbfb;
}

table{
  border: 1px solid #e6e6e6;
}

th{
  text-align: center;
  font-weight: bold;

  font-size: 16px;
}

td{
  text-align: center;
}

.clock-display{
  font-size: 45px;
  font-weight: bold;
}

.panel-title{
  font-size: 22px;
  font-weight: bold;
}

.panel-heading{
  padding-top: 15px;
  padding-bottom: 15px;
}